<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CB_Abomination_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,498},{90,80}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{90,80}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,498},{90,80}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{90,80}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,668},{90,78}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,41},{90,78}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,668},{90,78}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,41},{90,78}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,222},{90,82}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{90,82}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,222},{90,82}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{90,82}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,314},{88,82}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{88,82}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,314},{88,82}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{88,82}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,760},{84,76}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,43},{84,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,760},{84,76}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,43},{84,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,416},{80,74}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,45},{80,74}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,416},{80,74}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,45},{80,74}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,846},{78,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{78,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,846},{78,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{78,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,642},{74,76}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,43},{74,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,642},{74,76}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,43},{74,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,788},{72,72}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{72,72}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,788},{72,72}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{72,72}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,862},{72,68}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{72,68}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,862},{72,68}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{72,68}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,718},{76,68}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{76,68}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,718},{76,68}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{76,68}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,590},{80,76}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{80,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,590},{80,76}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{80,76}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,562},{82,78}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,41},{82,78}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,562},{82,78}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,41},{82,78}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,398},{88,80}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{88,80}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,398},{88,80}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{88,80}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,312},{102,74}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{102,74}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{118,78}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{118,78}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{118,78}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{118,78}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{126,80}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,39},{126,80}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{126,80}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,39},{126,80}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{132,84}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{132,84}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{132,84}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{132,84}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{138,86}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{138,86}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{138,86}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{138,86}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{144,84}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{144,84}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{144,84}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{144,84}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{140,86}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,35},{140,86}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{140,86}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,35},{140,86}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{142,90}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{142,90}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{142,90}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{142,90}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,96}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{144,96}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,96}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{144,96}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{118,98}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{118,98}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{118,98}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{118,98}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,122},{86,98}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{86,98}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,122},{86,98}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{86,98}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,480},{80,82}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,46},{80,82}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,480},{80,82}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,46},{80,82}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{34,66}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,64},{34,66}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>CB_Abomination_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{34,66}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,64},{34,66}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cb_abomination.png</string>
            <key>size</key>
            <string>{256,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:502ef358317e5a0ff9c08daed614a75d:1/1$</string>
            <key>textureFileName</key>
            <string>cb_abomination.png</string>
        </dict>
    </dict>
</plist>
