<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkarmy_archer_arrow_lvl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1175},{34,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>fire_bunch.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,866},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{142,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,73}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{142,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,73}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{142,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,73}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{144,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,75}}</string>
                <key>sourceSize</key>
                <string>{148,79}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{144,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,75}}</string>
                <key>sourceSize</key>
                <string>{148,79}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{142,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,79}}</string>
                <key>sourceSize</key>
                <string>{146,83}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{142,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,79}}</string>
                <key>sourceSize</key>
                <string>{146,83}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{142,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{142,79}}</string>
                <key>sourceSize</key>
                <string>{146,83}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{142,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{142,79}}</string>
                <key>sourceSize</key>
                <string>{146,83}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{144,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,71}}</string>
                <key>sourceSize</key>
                <string>{148,75}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{144,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,71}}</string>
                <key>sourceSize</key>
                <string>{148,75}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{142,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,73}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,474},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,99}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,474},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,99}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,575},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,89}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,575},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,89}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{94,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,101}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{94,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,101}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,507},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,101}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,507},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,101}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{96,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,103}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{96,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,103}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,103}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,103}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,109}}</string>
                <key>sourceSize</key>
                <string>{98,113}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,109}}</string>
                <key>sourceSize</key>
                <string>{98,113}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,103}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,103}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,100},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,103}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,100},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,103}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,392},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,105}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,392},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,105}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,107}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,107}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,109}}</string>
                <key>sourceSize</key>
                <string>{98,113}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_horse_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,109}}</string>
                <key>sourceSize</key>
                <string>{98,113}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,610},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,32}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,610},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,36}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,610},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,36}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1065},{49,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1065},{49,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,719},{49,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,34}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,719},{49,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,34}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1498},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,30}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1498},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,30}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_particle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1338},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,28}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1495},{46,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{46,49}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,666},{52,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{52,51}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1443},{56,53}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{56,53}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1001},{62,57}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{62,57}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,437},{68,61}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,61}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,361},{74,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{74,65}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1350},{78,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,71}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1194},{82,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,75}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1028},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,79}}</string>
                <key>sourceSize</key>
                <string>{94,87}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,943},{90,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,83}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,854},{96,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,87}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,761},{98,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{98,91}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,666},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,93}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{102,95}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,295},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{106,95}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{106,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{106,97}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{104,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{104,97}}</string>
                <key>sourceSize</key>
                <string>{120,113}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1109},{88,83}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{88,83}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1271},{76,77}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{76,77}}</string>
                <key>sourceSize</key>
                <string>{122,115}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,943},{56,59}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,38},{56,59}}</string>
                <key>sourceSize</key>
                <string>{124,115}</string>
            </dict>
            <key>hero_jack_o_lantern_ultimate_smoke_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{1,1}}</string>
                <key>offset</key>
                <string>{-60.5,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>i_jpql_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1423},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>i_jpql_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1266},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>i_jpql_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1194},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>skill_fireball.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,761},{103,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,48}</string>
            </dict>
            <key>skill_iceball.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1338},{103,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,48}</string>
            </dict>
            <key>skill_trump.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1109},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>skill_zhanshi_banyue_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,120}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>sword_176.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1507},{90,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_res.png</string>
            <key>size</key>
            <string>{254,1561}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31224903b005beecc9c7534d3f8f8ce5:1/1$</string>
            <key>textureFileName</key>
            <string>skill_res.png</string>
        </dict>
    </dict>
</plist>
