<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alleria_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{48,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{48,40}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{48,38}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{48,38}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{46,42}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{46,42}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{46,42}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{46,42}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{48,42}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{48,42}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{50,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{50,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{50,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{50,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,44}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{50,44}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,44}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{50,44}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{50,40}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{50,40}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{48,38}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{48,38}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>alleria_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{48,38}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{48,38}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alleria.png</string>
            <key>size</key>
            <string>{54,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08d1443bc60a09b55b2ffced39fb33c1:1/1$</string>
            <key>textureFileName</key>
            <string>alleria.png</string>
        </dict>
    </dict>
</plist>
