<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_g_xiee_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,61}</string>
                <key>spriteSize</key>
                <string>{62,108}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{719,1},{62,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,60}</string>
                <key>spriteSize</key>
                <string>{68,106}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{611,1},{68,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,45}</string>
                <key>spriteSize</key>
                <string>{134,80}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{109,1},{134,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,33}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{863,65},{94,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,39}</string>
                <key>spriteSize</key>
                <string>{110,74}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{543,71},{110,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,52}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,119},{120,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,64}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{275,83},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,61}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{367,73},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,52}</string>
                <key>spriteSize</key>
                <string>{124,88}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{97,119},{124,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,28}</string>
                <key>spriteSize</key>
                <string>{102,70}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{759,65},{102,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,44}</string>
                <key>spriteSize</key>
                <string>{114,80}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{245,1},{114,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,58}</string>
                <key>spriteSize</key>
                <string>{116,106}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,64}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{461,73},{80,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,59}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{723,147},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,55}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{959,81},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,21}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{895,165},{76,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,42}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{969,165},{76,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,59}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{643,147},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,64}</string>
                <key>spriteSize</key>
                <string>{86,92}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{555,147},{86,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,62}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{809,137},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,51}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{361,1},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,21}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{655,71},{102,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,41}</string>
                <key>spriteSize</key>
                <string>{116,68}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{493,1},{116,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,57}</string>
                <key>spriteSize</key>
                <string>{116,86}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{187,83},{116,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,62}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{925,1},{60,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,59}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1011,1},{68,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,44}</string>
                <key>spriteSize</key>
                <string>{134,52}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{187,201},{134,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{829,1},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,44}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{323,195},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,54}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{433,179},{120,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1002_walk.png</string>
            <key>size</key>
            <string>{1080,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2e6b11c6f3ca2ea991b43fe137d605:c46a71affeff0c2bc87bf46bda847a71:19dfd8981a0522ec8e82e1375ce19e59$</string>
            <key>textureFileName</key>
            <string>1002_walk.png</string>
        </dict>
    </dict>
</plist>
