<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_g_xiee_0_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,51}</string>
                <key>spriteSize</key>
                <string>{118,92}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,289},{118,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,50}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{133,117},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,38}</string>
                <key>spriteSize</key>
                <string>{130,78}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,37}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{125,215},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,59}</string>
                <key>spriteSize</key>
                <string>{114,100}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{133,1},{114,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_0_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,58}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,455},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{122,92}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,135},{122,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,39}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{113,531},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,63}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,725},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,65}</string>
                <key>spriteSize</key>
                <string>{72,102}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,621},{72,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,45}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{99,717},{78,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,39}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{151,621},{76,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_0_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,60}</string>
                <key>spriteSize</key>
                <string>{114,84}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{119,445},{114,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,65}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{125,285},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,43}</string>
                <key>spriteSize</key>
                <string>{122,58}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,229},{122,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{121,379},{112,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,54}</string>
                <key>spriteSize</key>
                <string>{116,70}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,383},{116,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,58}</string>
                <key>spriteSize</key>
                <string>{94,74}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{75,621},{94,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_g_xiee_0_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,42}</string>
                <key>spriteSize</key>
                <string>{130,52}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,81},{130,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_g_xiee_0_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,42}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,561},{104,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1002_idle.png</string>
            <key>size</key>
            <string>{234,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b39a5967668f4147cde288933732921e:da352fd8bf142bee340d520429937f1c:a89b33ccc6e62946d85e643c7adceec0$</string>
            <key>textureFileName</key>
            <string>1002_idle.png</string>
        </dict>
    </dict>
</plist>
