<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_title_aoshijiuzhou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1012},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,810},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,608},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,406},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,204},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou8.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>effect_title_aoshijiuzhou9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{444,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{894,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfc2b8acb8597ed3872602342fc9ebbb:1/1$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
