<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_jigou_iceshard_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,182},{66,90}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,41},{66,90}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,886},{82,108}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,29},{82,108}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,770},{88,114}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{88,114}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,996},{96,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{96,118}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1904},{98,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,21},{98,118}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1116},{100,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{100,118}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1506},{102,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,17},{102,122}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1236},{102,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,17},{102,122}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1904},{108,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{108,124}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1768},{112,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{112,134}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{118,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{118,136}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{120,142}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{120,142}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{122,144}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{122,144}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{124,146}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{126,124}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{134,152}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{134,152}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{134,156}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{134,156}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{134,156}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{134,156}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{136,112}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{136,112}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1630},{136,112}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,43},{136,112}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1360},{144,104}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,51},{144,104}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{148,102}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,51},{148,102}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,620},{148,88}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{148,88}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{156,86}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,64},{156,86}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{158,52}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,98},{158,52}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{160,56}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,95},{160,56}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,452},{166,56}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,95},{166,56}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{170,60}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,92},{170,60}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{174,62}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,91},{174,62}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,274},{176,62}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,92},{176,62}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{178,62}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,92},{178,62}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{180,52}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,102},{180,52}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{182,52}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,102},{182,52}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{182,56}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,98},{182,56}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{184,56}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,98},{184,56}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{184,52}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,102},{184,52}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,52}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{186,52}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,52}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{186,52}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>hero_jigou_iceshard_hit_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,52}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{186,52}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ices_hard.png</string>
            <key>size</key>
            <string>{254,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a560e4059f7a50fb60a0c73802ba2b:1/1$</string>
            <key>textureFileName</key>
            <string>ices_hard.png</string>
        </dict>
    </dict>
</plist>
