<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xin_hero_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,60},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{76,56}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{76,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{76,56}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{76,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,60},{74,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,37},{74,60}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,60},{74,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,37},{74,60}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,60},{72,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,35},{72,62}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,60},{72,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,35},{72,62}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,60},{70,64}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,33},{70,64}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,60},{70,60}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,37},{70,60}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,60},{70,60}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,37},{70,60}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,54}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,43},{70,54}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,54}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,43},{70,54}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,60},{70,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,35},{70,62}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,60},{70,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,35},{70,62}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,60},{72,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,33},{72,64}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,60},{72,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,33},{72,64}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,60},{72,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,33},{72,64}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,60},{74,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,37},{74,60}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,60},{74,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,37},{74,60}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{74,56}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{74,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{74,56}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{74,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,60},{68,58}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,39},{68,58}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,60},{68,58}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,39},{68,58}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{76,56}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{76,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{76,56}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{76,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{78,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{78,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{78,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{78,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{78,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,41},{78,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{78,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,41},{78,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{76,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,41},{76,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{76,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,41},{76,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{74,56}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,41},{74,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{74,56}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,41},{74,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,60},{68,56}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,41},{68,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,60},{68,56}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,41},{68,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,60},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,60},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>xin_hero_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,60},{70,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{70,56}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xin_hero.png</string>
            <key>size</key>
            <string>{876,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3bb3769315279dbdf10c0def39d5bf6:1/1$</string>
            <key>textureFileName</key>
            <string>xin_hero.png</string>
        </dict>
    </dict>
</plist>
