<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Halloween_hero_bones_layer1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{120,116}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,172},{120,116}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{120,116}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,172},{120,116}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{114,102}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,170},{114,102}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{114,102}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,170},{114,102}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{104,78}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,166},{104,78}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{104,78}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,166},{104,78}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{110,86}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,156},{110,86}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{110,86}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,156},{110,86}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{118,92}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,150},{118,92}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{118,92}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,150},{118,92}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{124,128}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,113},{124,128}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{124,128}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,113},{124,128}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,134}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,106},{124,134}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,134}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,106},{124,134}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{116,130}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,112},{116,130}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{116,130}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,112},{116,130}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{120,112}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,137},{120,112}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{120,112}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,137},{120,112}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{120,116}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,172},{120,116}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{120,116}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,172},{120,116}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{130,82}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,158},{130,82}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{130,82}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,158},{130,82}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{80,72}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,153},{80,72}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{80,72}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,153},{80,72}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{88,86}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,147},{88,86}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{88,86}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,147},{88,86}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{100,94}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,142},{100,94}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{100,94}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,142},{100,94}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{104,96}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,144},{104,96}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{104,96}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,144},{104,96}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{108,92}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,145},{108,92}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{108,92}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,145},{108,92}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{112,88}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,149},{112,88}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{112,88}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,149},{112,88}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{118,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,152},{118,82}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{118,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,152},{118,82}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{120,66}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,162},{120,66}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{120,66}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,162},{120,66}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{120,74}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,163},{120,74}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>Halloween_hero_bones_layer1_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{120,74}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,163},{120,74}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halloween_hero_bones_golem.png</string>
            <key>size</key>
            <string>{128,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:371d2c5eb36f93578d0d779f88b5c89c:1/1$</string>
            <key>textureFileName</key>
            <string>halloween_hero_bones_golem.png</string>
        </dict>
    </dict>
</plist>
