<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_eiskalt_ice_peaks_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,842},{52,30}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,102},{52,30}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,818},{64,60}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,73},{64,60}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,264},{64,92}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{64,92}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{72,126}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{72,126}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,130},{70,124}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{70,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{78,106}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,29},{78,106}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{78,106}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{78,106}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{78,116}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{78,116}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{78,116}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{78,116}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{78,116}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,116}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{78,116}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,126}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{78,126}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,256},{76,92}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,44},{76,92}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,436},{76,60}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,74},{76,60}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{52,30}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,102},{52,30}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,880},{52,26}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,105},{52,26}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,880},{52,26}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,105},{52,26}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,880},{46,26}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,105},{46,26}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_eiskalt_ice_peaks_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,880},{46,26}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,105},{46,26}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,128},{54,50}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{54,50}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,68},{58,50}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{58,50}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,358},{76,70}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{76,70}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,764},{76,76}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,600},{84,76}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{84,76}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,584},{84,76}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{84,76}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,740},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,514},{84,76}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,506},{86,76}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{86,76}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,428},{88,76}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{88,76}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,350},{88,76}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{88,76}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,686},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,662},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,662},{82,76}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,184},{78,62}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{78,62}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,184},{78,62}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{78,62}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{64,46}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{64,46}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{64,46}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{64,46}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{42,28}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{42,28}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{42,28}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{42,28}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,130},{32,10}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,59},{32,10}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,130},{32,10}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,59},{32,10}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>hero_jigou_ultimate_ice_shards_1_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice_shards.png</string>
            <key>size</key>
            <string>{256,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6660f772d2b9d911135daf074f81189:1/1$</string>
            <key>textureFileName</key>
            <string>ice_shards.png</string>
        </dict>
    </dict>
</plist>
