<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>durax_hero_lethalprism_ray_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,34},{56,26}}</string>
                <key>offset</key>
                <string>{-73,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,26}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,34},{56,26}}</string>
                <key>offset</key>
                <string>{-73,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,26}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{200,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{200,18}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{200,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{200,18}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,36},{202,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{202,20}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,36},{202,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{202,20}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{200,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{200,24}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{200,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{200,24}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,34},{196,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{196,28}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,34},{196,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{196,28}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{196,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,30}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{196,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,30}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{192,32}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,32}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{192,32}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,32}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,22},{184,32}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{184,32}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,22},{184,32}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{184,32}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{184,34}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{184,34}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{154,34}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{154,34}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{102,34}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{102,34}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{102,34}}</string>
                <key>offset</key>
                <string>{47,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,20},{102,34}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{102,34}}</string>
                <key>offset</key>
                <string>{47,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,20},{102,34}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{100,30}}</string>
                <key>offset</key>
                <string>{47,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,24},{100,30}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{62,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{62,52}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{60,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,50}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{62,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{62,50}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{60,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{60,48}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{60,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,52}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>durax_hero_lethalprism_ray_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{58,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lethalprism_ray.png</string>
            <key>size</key>
            <string>{1704,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594bd5b4aa3e85117489e37c1dce6232:1/1$</string>
            <key>textureFileName</key>
            <string>lethalprism_ray.png</string>
        </dict>
    </dict>
</plist>
