<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hobgoblin_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{100,86}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,68},{100,86}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,322},{92,82}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,72},{92,82}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,322},{92,82}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,72},{92,82}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,518},{88,88}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,66},{88,88}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,518},{88,88}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,66},{88,88}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,426},{88,90}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,64},{88,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,426},{88,90}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,64},{88,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1252},{98,92}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,62},{98,92}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1252},{98,92}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,62},{98,92}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1160},{100,90}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{100,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1160},{100,90}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{100,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,972},{102,94}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,70},{102,94}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,972},{102,94}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,70},{102,94}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,880},{104,90}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{104,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,880},{104,90}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{104,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{100,86}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{100,86}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{100,86}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{100,86}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,788},{100,90}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,64},{100,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,788},{100,90}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,64},{100,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1068},{102,90}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{102,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1068},{102,90}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{102,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,696},{100,90}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{100,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,696},{100,90}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{100,90}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,608},{96,86}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,68},{96,86}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,608},{96,86}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,68},{96,86}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{126,92}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,67},{126,92}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{126,92}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,67},{126,92}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{144,94}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,68},{144,94}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{144,94}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,68},{144,94}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{150,98}}</string>
                <key>offset</key>
                <string>{15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{150,98}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{150,98}}</string>
                <key>offset</key>
                <string>{15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{150,98}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{154,98}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{154,98}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{154,98}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{154,98}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{162,106}}</string>
                <key>offset</key>
                <string>{17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{162,106}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{162,106}}</string>
                <key>offset</key>
                <string>{17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{162,106}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{168,102}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{168,102}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{168,102}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{168,102}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{170,84}}</string>
                <key>offset</key>
                <string>{19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,92},{170,84}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{170,84}}</string>
                <key>offset</key>
                <string>{19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,92},{170,84}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,86}}</string>
                <key>offset</key>
                <string>{20,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,90},{174,86}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,86}}</string>
                <key>offset</key>
                <string>{20,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,90},{174,86}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{174,72}}</string>
                <key>offset</key>
                <string>{20,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,104},{174,72}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{174,72}}</string>
                <key>offset</key>
                <string>{20,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,104},{174,72}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,72}}</string>
                <key>offset</key>
                <string>{20,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,104},{174,72}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,72}}</string>
                <key>offset</key>
                <string>{20,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,104},{174,72}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
            <key>hobgoblin_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{174,70}}</string>
                <key>offset</key>
                <string>{20,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{174,70}}</string>
                <key>sourceSize</key>
                <string>{264,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hobgoblin.png</string>
            <key>size</key>
            <string>{256,1390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:589c604f97e8cb63d502e0fb9f5221ed:1/1$</string>
            <key>textureFileName</key>
            <string>hobgoblin.png</string>
        </dict>
    </dict>
</plist>
