<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gnollBerzerker_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{82,70}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,15},{82,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{80,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,17},{80,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{80,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,17},{80,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{76,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,17},{76,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{76,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,17},{76,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{72,70}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,15},{72,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{72,70}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,15},{72,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{70,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,13},{70,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{70,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,13},{70,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{68,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,13},{68,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{68,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,13},{68,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{70,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{70,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{70,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{70,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{72,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,17},{72,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{72,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,17},{72,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{68,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{68,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{68,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{68,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{68,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,15},{68,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{68,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,15},{68,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{70,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,13},{70,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{70,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,13},{70,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{72,72}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,13},{72,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{72,72}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,13},{72,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{78,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,17},{78,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{78,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,17},{78,68}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{80,70}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{80,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{80,70}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{80,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,72}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,13},{84,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,72}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,13},{84,72}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{94,70}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,15},{94,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{94,70}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,15},{94,70}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{102,78}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,20},{102,78}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{102,78}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,20},{102,78}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{98,80}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,20},{98,80}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{98,80}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,20},{98,80}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{92,78}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,22},{92,78}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{92,78}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,22},{92,78}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{84,62}}</string>
                <key>offset</key>
                <string>{27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,38},{84,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{84,62}}</string>
                <key>offset</key>
                <string>{27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,38},{84,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{102,58}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,43},{102,58}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{102,58}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,43},{102,58}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{110,62}}</string>
                <key>offset</key>
                <string>{27,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,39},{110,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{110,62}}</string>
                <key>offset</key>
                <string>{27,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,39},{110,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{110,62}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,40},{110,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{110,62}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,40},{110,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{106,62}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,39},{106,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{106,62}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,39},{106,62}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>gnollBerzerker_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{84,60}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,40},{84,60}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gnoll_berzerker.png</string>
            <key>size</key>
            <string>{88,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:888e136a3ee2c958cb8eeabc3581868b:1/1$</string>
            <key>textureFileName</key>
            <string>gnoll_berzerker.png</string>
        </dict>
    </dict>
</plist>
