<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{54,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{54,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,62},{52,58}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,62},{52,58}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{54,56}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{54,56}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,62},{54,56}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,62},{54,56}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,70},{54,56}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,70},{54,56}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,72},{54,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,72},{54,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,72},{54,58}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,72},{54,58}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{52,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{52,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,62},{52,58}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,62},{52,58}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,60},{52,56}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,60},{52,56}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{52,56}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{52,56}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,60},{52,56}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,60},{52,56}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,70},{56,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{56,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,70},{56,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{56,58}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,70},{54,56}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,70},{54,56}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{58,52}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{58,52}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{58,52}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{58,52}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{60,54}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{60,54}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{66,52}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{66,52}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{66,52}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{66,52}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{68,62}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{68,62}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{68,62}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{68,62}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,64}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,32},{68,64}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{68,50}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{68,50}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{68,50}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{68,50}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{66,46}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,50},{66,46}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{66,46}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,50},{66,46}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ogre_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{66,48}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,48},{66,48}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orge.png</string>
            <key>size</key>
            <string>{628,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d5d91918621ba1c53b41dbe7a022311:1/1$</string>
            <key>textureFileName</key>
            <string>orge.png</string>
        </dict>
    </dict>
</plist>
