<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_valyrian_fire_bottle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,91},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,91},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,91},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,91},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,93},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,93},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,93},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,93},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,93},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,93},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,95},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,95},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,71},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,71},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,71},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,71},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,71},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,71},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,67},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,67},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,67},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,67},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,67},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,67},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,69},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,69},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{48,44}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{48,44}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{48,44}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{48,44}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,69},{62,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,69},{62,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,69},{58,56}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,69},{58,56}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,71},{58,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,54}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,71},{58,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,54}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,69},{56,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,69},{56,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,71},{52,42}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{52,42}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,71},{52,42}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{52,42}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,69},{40,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{40,22}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,69},{40,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{40,22}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,77},{38,20}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{38,20}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,77},{38,20}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{38,20}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,71},{36,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{36,18}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,71},{36,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{36,18}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,115},{32,10}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{32,10}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,71},{1,1}}</string>
                <key>offset</key>
                <string>{-31.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>item_valyrian_fire_flame_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{71,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{71,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{71,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{71,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{73,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{73,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,73}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,73}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,73}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,73}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{69,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,71}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{69,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,71}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{67,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{67,65}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{71,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{71,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{71,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{71,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{71,69}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{71,69}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{71,69}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{71,69}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{71,63}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{71,63}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{73,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{73,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,71}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,71}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{69,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{69,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{67,71}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{67,71}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{71,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{71,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{71,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{71,65}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{71,67}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{71,67}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>item_valyrian_fire_flame_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{71,67}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{71,67}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kr4_item_valyrian_fire.png</string>
            <key>size</key>
            <string>{1020,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f7a4754e3809d801a4b2264fec6955:1/1$</string>
            <key>textureFileName</key>
            <string>kr4_item_valyrian_fire.png</string>
        </dict>
    </dict>
</plist>
