<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_clothes_107_0_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{147,285},{86,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_0_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{147,423},{86,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_0_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{141,561},{86,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_0_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,621},{86,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,54}</string>
                <key>spriteSize</key>
                <string>{66,144}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,213},{66,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,54}</string>
                <key>spriteSize</key>
                <string>{64,144}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,417},{64,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,54}</string>
                <key>spriteSize</key>
                <string>{66,144}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,281},{66,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,54}</string>
                <key>spriteSize</key>
                <string>{66,144}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,349},{66,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,57}</string>
                <key>spriteSize</key>
                <string>{50,148}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,55},{50,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,57}</string>
                <key>spriteSize</key>
                <string>{50,146}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,161},{50,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,57}</string>
                <key>spriteSize</key>
                <string>{52,148}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,56}</string>
                <key>spriteSize</key>
                <string>{52,146}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,107},{52,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,55}</string>
                <key>spriteSize</key>
                <string>{66,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,553},{66,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,55}</string>
                <key>spriteSize</key>
                <string>{68,140}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{151,1},{68,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_0_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,55}</string>
                <key>spriteSize</key>
                <string>{68,140}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{149,143},{68,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_0_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,54}</string>
                <key>spriteSize</key>
                <string>{68,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,483},{68,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,54}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{139,699},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_0_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,54}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,709},{86,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_0_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,54}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,797},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_0_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,54}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{89,829},{86,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1001_idle.png</string>
            <key>size</key>
            <string>{234,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a10c717b7e0f8bdbf0e4197fec89d12f:e6f18ae5f5837d86820d37f09c3c6f52:55c44c6d4d245fc263acb14971a3dd1a$</string>
            <key>textureFileName</key>
            <string>1001_idle.png</string>
        </dict>
    </dict>
</plist>
