<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_clothes_107_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{415,415},{88,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,55}</string>
                <key>spriteSize</key>
                <string>{88,130}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1035,1},{88,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,57}</string>
                <key>spriteSize</key>
                <string>{86,130}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1125,1},{86,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,55}</string>
                <key>spriteSize</key>
                <string>{82,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{867,137},{82,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,54}</string>
                <key>spriteSize</key>
                <string>{82,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{167,141},{82,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,52}</string>
                <key>spriteSize</key>
                <string>{84,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{79,1},{84,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,54}</string>
                <key>spriteSize</key>
                <string>{86,130}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1163,265},{86,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,57}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1205,133},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,57}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1213,1},{84,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{881,1},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,54}</string>
                <key>spriteSize</key>
                <string>{80,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{139,423},{80,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,54}</string>
                <key>spriteSize</key>
                <string>{82,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{527,139},{82,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,57}</string>
                <key>spriteSize</key>
                <string>{74,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{611,139},{74,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,59}</string>
                <key>spriteSize</key>
                <string>{70,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{963,1},{70,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,62}</string>
                <key>spriteSize</key>
                <string>{74,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{951,137},{74,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,61}</string>
                <key>spriteSize</key>
                <string>{82,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{181,281},{82,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,59}</string>
                <key>spriteSize</key>
                <string>{88,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{77,143},{88,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,59}</string>
                <key>spriteSize</key>
                <string>{90,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,285},{90,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,58}</string>
                <key>spriteSize</key>
                <string>{90,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{265,277},{90,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,57}</string>
                <key>spriteSize</key>
                <string>{86,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{707,1},{86,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,57}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{717,273},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,56}</string>
                <key>spriteSize</key>
                <string>{84,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{441,1},{84,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,55}</string>
                <key>spriteSize</key>
                <string>{84,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{527,1},{84,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,55}</string>
                <key>spriteSize</key>
                <string>{82,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{533,277},{82,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,61}</string>
                <key>spriteSize</key>
                <string>{92,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{613,1},{92,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,61}</string>
                <key>spriteSize</key>
                <string>{92,132}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{947,409},{92,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,63}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{549,415},{88,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,62}</string>
                <key>spriteSize</key>
                <string>{88,130}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1073,271},{88,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,62}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{683,413},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,61}</string>
                <key>spriteSize</key>
                <string>{100,132}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{971,273},{100,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,60}</string>
                <key>spriteSize</key>
                <string>{98,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{617,277},{98,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,60}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{357,277},{86,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,61}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{93,283},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,61}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{439,139},{86,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,61}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{351,1},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,61}</string>
                <key>spriteSize</key>
                <string>{98,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{251,1},{98,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,53}</string>
                <key>spriteSize</key>
                <string>{94,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{251,139},{94,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,54}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{815,409},{94,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,56}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1081,403},{92,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,57}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1209,397},{90,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,54}</string>
                <key>spriteSize</key>
                <string>{88,126}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1333,1},{88,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,50}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{781,137},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,50}</string>
                <key>spriteSize</key>
                <string>{76,140}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,53}</string>
                <key>spriteSize</key>
                <string>{74,140}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,143},{74,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,57}</string>
                <key>spriteSize</key>
                <string>{78,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,425},{78,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,59}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{795,1},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,57}</string>
                <key>spriteSize</key>
                <string>{90,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{347,139},{90,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,56}</string>
                <key>spriteSize</key>
                <string>{92,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{687,137},{92,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,45}</string>
                <key>spriteSize</key>
                <string>{88,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{279,415},{88,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{88,130}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1115,133},{88,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,53}</string>
                <key>spriteSize</key>
                <string>{84,126}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1333,91},{84,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,57}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1335,263},{82,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,54}</string>
                <key>spriteSize</key>
                <string>{82,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1251,263},{82,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,47}</string>
                <key>spriteSize</key>
                <string>{84,138}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{165,1},{84,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{445,277},{86,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,46}</string>
                <key>spriteSize</key>
                <string>{86,132}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1027,137},{86,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,52}</string>
                <key>spriteSize</key>
                <string>{84,126}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1333,177},{84,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_clothes_107_2_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,52}</string>
                <key>spriteSize</key>
                <string>{82,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1335,347},{82,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,49}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{889,273},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_clothes_107_2_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,48}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{803,273},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1001_walk.png</string>
            <key>size</key>
            <string>{1460,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bccc48696a8f1f82769f0c1a45fd96e9:ba1e90d789675b4307ea853485b58beb:2447140b37434598139df1c52689a1cf$</string>
            <key>textureFileName</key>
            <string>1001_walk.png</string>
        </dict>
    </dict>
</plist>
