<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bandit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{22,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{22,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{24,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{24,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{26,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{24,30}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{24,30}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{24,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{24,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{24,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{24,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{24,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{24,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{24,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{24,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{24,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{22,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{22,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{24,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{24,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{24,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{24,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{22,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{22,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{22,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{22,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{22,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{22,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{22,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{22,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{24,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{24,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{24,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{24,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{34,26}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,28}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{38,26}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{38,26}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{36,22}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{36,22}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{38,16}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{38,16}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{38,16}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{38,16}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{32,20}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{32,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{30,20}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{30,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{30,20}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{30,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{30,20}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{30,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{30,20}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{30,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>bandit_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{30,20}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{30,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bandit.png</string>
            <key>size</key>
            <string>{1466,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:042f9dab8cbd33d2b30a6d5dfd4acabf:1/1$</string>
            <key>textureFileName</key>
            <string>bandit.png</string>
        </dict>
    </dict>
</plist>
