<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_tank_ultimate_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1925},{114,113}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,139},{114,113}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,660},{122,229}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,28},{122,229}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,502},{130,239}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,20},{130,239}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,312},{134,247}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,15},{134,247}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,172},{138,251}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,12},{138,251}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1602},{150,209}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{150,209}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,360},{152,211}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{152,211}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{154,209}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,57},{154,209}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1276},{154,213}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,54},{154,213}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1432},{162,211}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,58},{162,211}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1268},{162,215}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,54},{162,215}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,940},{162,219}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,50},{162,219}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1754},{162,199}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,70},{162,199}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1794},{162,205}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{162,205}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1630},{162,209}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,60},{162,209}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1274},{162,213}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,56},{162,213}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{162,217}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{162,217}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1608},{162,209}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,60},{162,209}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1126},{162,217}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{162,217}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,784},{162,225}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{162,225}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,798},{162,227}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,42},{162,227}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{162,231}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{162,231}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,612},{162,235}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,34},{162,235}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,448},{162,239}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{162,239}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{162,245}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{162,245}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,174},{162,249}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,20},{162,249}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{162,253}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,16},{162,253}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{162,259}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,10},{162,259}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,261}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,8},{162,261}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1112},{162,215}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,54},{162,215}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1104},{162,217}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{162,217}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{162,213}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,56},{162,213}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,948},{162,217}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{162,217}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{162,211}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,58},{162,211}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1110},{162,215}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,54},{162,215}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,946},{162,219}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,50},{162,219}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,782},{162,199}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,70},{162,199}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1796},{162,205}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{162,205}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1596},{162,209}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,60},{162,209}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1290},{162,213}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,56},{162,213}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{162,217}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{162,217}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1438},{162,209}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,60},{162,209}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,962},{162,217}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{162,217}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{162,225}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{162,225}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,776},{162,227}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,42},{162,227}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,634},{162,231}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{162,231}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,496},{162,235}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,34},{162,235}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,332},{162,239}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{162,239}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{162,245}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{162,245}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,338},{162,245}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{162,245}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{160,247}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,20},{160,247}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,166},{164,251}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,16},{164,251}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{168,255}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{168,255}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{170,259}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,8},{170,259}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1454},{174,211}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,55},{174,211}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1432},{174,211}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,54},{174,211}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{178,205}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{178,205}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,573},{180,207}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{180,207}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1772},{178,201}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,61},{178,201}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1760},{174,201}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{174,201}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{116,177}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{116,177}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,181},{114,177}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,75},{114,177}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1754},{114,169}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,76},{114,169}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1438},{62,97}}</string>
                <key>offset</key>
                <string>{31,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,143},{62,97}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1537},{62,85}}</string>
                <key>offset</key>
                <string>{31,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,154},{62,85}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,312},{14,17}}</string>
                <key>offset</key>
                <string>{55,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,153},{14,17}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
            <key>hero_tank_ultimate_fire_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{1,1}}</string>
                <key>offset</key>
                <string>{-138.5,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{278,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firewall.png</string>
            <key>size</key>
            <string>{1159,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e08f9f383b7bded8f642f8c5e78f63d7:1/1$</string>
            <key>textureFileName</key>
            <string>firewall.png</string>
        </dict>
    </dict>
</plist>
