<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,86},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,86},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,44},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,44},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,62},{158,40}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,62},{158,40}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_meteorite_lvl4_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{156,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,44},{86,64}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,26},{86,64}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,44},{88,70}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{88,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{106,86}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{106,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{106,84}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{106,84}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{124,88}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{124,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{128,86}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{128,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,84}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{138,84}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,88}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{138,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{120,86}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{120,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{124,88}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{124,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{126,88}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{126,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{126,88}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{126,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{126,90}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{126,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{128,90}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{128,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>warmongers_mage_tower_projectile_explosion_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{128,58}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,58},{128,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warmongers_explosion.png</string>
            <key>size</key>
            <string>{1864,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99fe066dcc9bdc2e4ef4b8a49f7db5e7:1/1$</string>
            <key>textureFileName</key>
            <string>warmongers_explosion.png</string>
        </dict>
    </dict>
</plist>
