<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_artillery_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{40,38}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{40,38}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{42,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,41},{42,38}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,42}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{42,42}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{42,42}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{42,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{42,40}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{42,36}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{42,36}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{40,38}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{40,38}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{38,38}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,38},{38,38}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{38,38}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,38},{38,38}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{38,34}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{38,34}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{36,30}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,56},{36,30}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{36,22}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,62},{36,22}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{36,22}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,62},{36,22}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{36,26}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{36,26}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_artillery_0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{36,26}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{36,26}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_artillery.png</string>
            <key>size</key>
            <string>{46,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab7800cf3a3dc405a84965bb240a787:1/1$</string>
            <key>textureFileName</key>
            <string>hero_artillery.png</string>
        </dict>
    </dict>
</plist>
