<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fire_wall_00000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,434},{76,74}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,89},{76,74}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,352},{80,150}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{80,150}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{86,156}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{86,156}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,352},{90,162}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{90,162}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,394},{92,164}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{92,164}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,356},{100,138}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{100,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,356},{100,138}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{100,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,252},{102,138}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,33},{102,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,110},{102,140}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{102,140}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,386},{106,136}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{106,136}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,244},{106,140}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{106,140}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,146},{106,142}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,110},{106,130}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{106,130}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,110},{106,132}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{106,132}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,248},{106,136}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{106,136}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,352},{106,138}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{106,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{106,142}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{106,136}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{106,136}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{106,142}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,398},{106,146}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{106,146}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{106,148}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{106,148}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{106,150}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{106,150}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{106,152}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{106,152}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,326},{106,156}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{106,156}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,164},{106,160}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{106,160}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,168},{106,162}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{106,162}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,168},{106,166}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{106,166}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{106,168}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{106,168}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{106,168}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{106,168}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,362},{106,140}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{106,140}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,362},{106,142}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{106,140}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{106,140}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000033.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,254},{106,142}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,110},{106,136}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{106,136}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,136},{106,140}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{106,140}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000036.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,146},{106,142}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,244},{106,130}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,42},{106,130}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{106,134}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,38},{106,134}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,218},{106,136}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{106,136}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{106,138}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,34},{106,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,254},{106,140}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,32},{106,140}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,110},{106,138}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,34},{106,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000043.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{106,142}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{106,142}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000044.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,152},{106,146}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{106,146}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000045.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,154},{106,148}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{106,148}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000046.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{106,150}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{106,150}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000047.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,160},{106,152}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{106,152}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000048.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{106,156}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{106,156}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000049.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,332},{106,160}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{106,160}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000050.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{106,160}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{106,160}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000051.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,336},{106,162}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{106,162}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000052.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{108,164}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{108,164}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{112,168}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,168}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,170}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,170}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000055.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,296},{114,138}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{114,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000056.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,156},{116,138}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{116,138}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000057.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,262},{116,134}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{116,134}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000058.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,314},{118,136}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{118,136}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000059.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,260},{116,132}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{116,132}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{114,132}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{114,132}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,90},{76,116}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{76,116}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,242},{76,118}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,47},{76,118}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,320},{76,112}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{40,64}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,64},{40,64}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000065.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,452},{42,56}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,50},{42,56}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>hero_fire_wall_00000066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{10,10}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,43},{10,10}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firewall.png</string>
            <key>size</key>
            <string>{2040,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a677d0dca91c1bdadb1b4d1cdba15444:1/1$</string>
            <key>textureFileName</key>
            <string>firewall.png</string>
        </dict>
    </dict>
</plist>
