<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1780},{144,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,74}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,842},{184,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{184,96}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,436},{204,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{204,104}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{216,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{216,110}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1898},{222,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{222,114}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{228,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{228,118}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{232,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{232,120}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{236,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{236,122}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{240,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{240,122}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{240,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{240,124}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{240,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{240,124}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{238,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{238,122}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{234,120}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1548},{230,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{230,118}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1324},{222,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{222,114}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,220},{214,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{214,110}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,642},{198,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{198,102}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1028},{160,90}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{160,90}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1764},{132,86}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{132,86}}</string>
                <key>sourceSize</key>
                <string>{240,124}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1190},{132,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,86}}</string>
                <key>sourceSize</key>
                <string>{134,88}</string>
            </dict>
            <key>warmongers_mage_tower_shooter_healingRoots_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,436},{1,1}}</string>
                <key>offset</key>
                <string>{-63.5,41.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>wicked_sisters_proy_green_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1190},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>posion.png</string>
            <key>size</key>
            <string>{358,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29db39010c68a11ce4608059db58cc41:1/1$</string>
            <key>textureFileName</key>
            <string>posion.png</string>
        </dict>
    </dict>
</plist>
