<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>screecher_bat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,280},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>screecher_bat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,280},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>screecher_bat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,292},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,54}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>screecher_bat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,292},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,54}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>screecher_bat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,288},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,58}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>screecher_bat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,288},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,58}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>screecher_bat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,280},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,66}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>screecher_bat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,280},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,66}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>screecher_bat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,86},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,80}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>screecher_bat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,86},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,80}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>screecher_bat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,270},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,88}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>screecher_bat_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,270},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,88}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>screecher_bat_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,90},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,82}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>screecher_bat_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,90},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,82}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>screecher_bat_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,2},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,76}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>screecher_bat_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,2},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,76}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>screecher_bat_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,142},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>screecher_bat_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,142},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>screecher_bat_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,136},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,52}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>screecher_bat_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,136},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,52}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>screecher_bat_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,288},{86,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,56}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>screecher_bat_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,288},{86,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,56}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>screecher_bat_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,136},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,72}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>screecher_bat_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,136},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,72}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>screecher_bat_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,88}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>screecher_bat_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,88}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>screecher_bat_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>screecher_bat_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>screecher_bat_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,2},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,82}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>screecher_bat_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,2},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,82}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>screecher_bat_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,276},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,76}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>screecher_bat_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,276},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,76}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>screecher_bat_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,292},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,54}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>screecher_bat_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,292},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,54}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>screecher_bat_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,284},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,60}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>screecher_bat_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,284},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,60}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>screecher_bat_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,270},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,76}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>screecher_bat_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,270},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,76}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>screecher_bat_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,236},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,90}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>screecher_bat_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,236},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,90}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>screecher_bat_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,96},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>screecher_bat_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,96},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>screecher_bat_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,80},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,72}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>screecher_bat_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,80},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,72}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>screecher_bat_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,270},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>screecher_bat_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,270},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>screecher_bat_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,174},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>screecher_bat_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,174},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>screecher_bat_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,184},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,66}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>screecher_bat_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,184},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,66}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>screecher_bat_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,168},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,56}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>screecher_bat_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,168},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,56}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>screecher_bat_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{118,132}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
            <key>screecher_bat_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{118,132}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
            <key>screecher_bat_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{126,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,142}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>screecher_bat_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{126,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,142}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>screecher_bat_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{126,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,140}}</string>
                <key>sourceSize</key>
                <string>{130,144}</string>
            </dict>
            <key>screecher_bat_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,152},{136,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,146}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>screecher_bat_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,170},{136,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,150}}</string>
                <key>sourceSize</key>
                <string>{142,154}</string>
            </dict>
            <key>screecher_bat_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{134,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,148}}</string>
                <key>sourceSize</key>
                <string>{138,152}</string>
            </dict>
            <key>screecher_bat_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{134,144}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>screecher_bat_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{126,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,136}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>screecher_bat_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,144},{126,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{126,138}}</string>
                <key>sourceSize</key>
                <string>{130,144}</string>
            </dict>
            <key>screecher_bat_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,140},{118,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{118,134}}</string>
                <key>sourceSize</key>
                <string>{122,140}</string>
            </dict>
            <key>screecher_bat_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,136},{118,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,132}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>screecher_bat_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,146},{126,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,140}}</string>
                <key>sourceSize</key>
                <string>{130,144}</string>
            </dict>
            <key>screecher_bat_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,148},{126,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,142}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>screecher_bat_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,148},{126,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,142}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>screecher_bat_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,184},{136,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,150}}</string>
                <key>sourceSize</key>
                <string>{142,154}</string>
            </dict>
            <key>screecher_bat_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,184},{136,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,150}}</string>
                <key>sourceSize</key>
                <string>{142,154}</string>
            </dict>
            <key>screecher_bat_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{132,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,124}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>screecher_bat_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{72,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,160}}</string>
                <key>sourceSize</key>
                <string>{76,164}</string>
            </dict>
            <key>screecher_bat_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,174},{86,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{86,170}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>screecher_bat_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,174},{86,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{86,170}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>screecher_bat_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,180}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,180}}</string>
                <key>sourceSize</key>
                <string>{116,190}</string>
            </dict>
            <key>screecher_bat_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{98,176}}</string>
                <key>sourceSize</key>
                <string>{114,188}</string>
            </dict>
            <key>screecher_bat_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{94,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{94,174}}</string>
                <key>sourceSize</key>
                <string>{108,184}</string>
            </dict>
            <key>screecher_bat_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{92,172}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{92,172}}</string>
                <key>sourceSize</key>
                <string>{108,182}</string>
            </dict>
            <key>screecher_bat_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,172},{96,168}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{96,168}}</string>
                <key>sourceSize</key>
                <string>{104,178}</string>
            </dict>
            <key>screecher_bat_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{96,166}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{96,166}}</string>
                <key>sourceSize</key>
                <string>{104,178}</string>
            </dict>
            <key>screecher_bat_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,170},{98,166}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{98,166}}</string>
                <key>sourceSize</key>
                <string>{104,176}</string>
            </dict>
            <key>screecher_bat_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{98,166}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{98,166}}</string>
                <key>sourceSize</key>
                <string>{104,176}</string>
            </dict>
            <key>screecher_bat_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{100,168}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{100,168}}</string>
                <key>sourceSize</key>
                <string>{106,174}</string>
            </dict>
            <key>screecher_bat_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,178},{100,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,168}}</string>
                <key>sourceSize</key>
                <string>{104,172}</string>
            </dict>
            <key>screecher_bat_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,170}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,170}}</string>
                <key>sourceSize</key>
                <string>{106,174}</string>
            </dict>
            <key>screecher_bat_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,176},{96,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,170}}</string>
                <key>sourceSize</key>
                <string>{102,174}</string>
            </dict>
            <key>screecher_bat_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,214},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>screecher_bat_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,214},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>screecher_bat.png</string>
            <key>size</key>
            <string>{2038,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:971dfa99fca25fa7362ce25e7330a10f:1/1$</string>
            <key>textureFileName</key>
            <string>screecher_bat.png</string>
        </dict>
    </dict>
</plist>
