<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alleria_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,205},{42,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,14}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>alleria_arrow_multishoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,20},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>apex_shard_proyectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>arcane_mage_projectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,16}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,16}}</string>
                <key>sourceSize</key>
                <string>{125,20}</string>
            </dict>
            <key>boss_dwarf_mecha_proyectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,78},{30,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>darkarmy_archer_arrow_lvl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,271},{34,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>ember_lords_mage_tower_bolt_lvl4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,110},{28,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>fire_bunch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>fireball_proyectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,251},{40,22}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,22}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>fireball_proyectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,251},{40,22}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,22}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>fireball_proyectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,209},{40,22}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{40,22}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>fireball_proyectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,209},{40,22}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{40,22}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>fireball_proyectile_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,251},{42,20}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{42,20}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>fireball_proyectile_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,251},{42,20}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{42,20}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>hero_jigou_iceshard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>hero_murglun_lava_blood_proy.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{30,12}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>hero_murglun_ultimate_proy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{92,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{92,70}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>hero_tank_missile_proyectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,251},{34,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{34,18}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>hero_tank_simple_proyectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,138},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hero_tank_ultimate_proyectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,158},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>juggernaut_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,209},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>shooter_lvl4_proyectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,92},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>spirit_mausoleum_bolt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,130},{24,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{24,26}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>stage13_elf_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,293},{36,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,10}}</string>
                <key>sourceSize</key>
                <string>{40,12}</string>
            </dict>
            <key>svell_druid_proyectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{46,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,23},{46,44}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_res.png</string>
            <key>size</key>
            <string>{128,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01a43a466a6b7feb85721cd090add02:1/1$</string>
            <key>textureFileName</key>
            <string>skill_res.png</string>
        </dict>
    </dict>
</plist>
