<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_jpql_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,342},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>i_jpql_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,342},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>i_jpql_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,342},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>qifu_qiu_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,214},{210,227}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{210,227}}</string>
                <key>sourceSize</key>
                <string>{234,249}</string>
            </dict>
            <key>skill_fireball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,342},{103,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,48}</string>
            </dict>
            <key>skill_iceball.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,384},{103,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,48}</string>
            </dict>
            <key>skill_tianleishu_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{146,380}}</string>
                <key>offset</key>
                <string>{-15,260}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,0},{146,380}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>skill_tianleishu_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,214},{204,528}}</string>
                <key>offset</key>
                <string>{-12,186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,0},{204,528}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>skill_tianleishu_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{210,548}}</string>
                <key>offset</key>
                <string>{0,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{495,0},{210,548}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>skill_tianleishu_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{338,574}}</string>
                <key>offset</key>
                <string>{-9,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,0},{338,574}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
            <key>skill_trump.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,342},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>skill_youlanaoyi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,436}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,109},{544,436}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>sword_176.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,384},{90,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_res.png</string>
            <key>size</key>
            <string>{2031,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5011ad002dea7d0fee05f8270b46e3d1:1/1$</string>
            <key>textureFileName</key>
            <string>skill_res.png</string>
        </dict>
    </dict>
</plist>
