<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_green_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,166},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,140},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,140},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,140},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,140},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,220},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,220},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,184},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,184},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,226},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,226},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,202},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,134},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,134},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,108},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,108},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,184},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,184},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,152},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,152},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,226},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,226},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,172},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,102},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,102},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,68},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,68},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,218},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,218},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,144},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,144},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,80},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,80},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,172},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,108},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,108},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,190},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,190},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,72},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,72},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,222},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,222},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,72},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,72},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>boss_health_bar_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,26},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>boss_health_bar_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,12},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>lifebar_bg_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{156,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,8}}</string>
                <key>sourceSize</key>
                <string>{156,8}</string>
            </dict>
            <key>lifebar_bg_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,102},{48,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,4}}</string>
                <key>sourceSize</key>
                <string>{48,4}</string>
            </dict>
            <key>lifebar_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,34},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,4}}</string>
                <key>sourceSize</key>
                <string>{36,8}</string>
            </dict>
            <key>lifebar_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{156,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,8}}</string>
                <key>sourceSize</key>
                <string>{156,8}</string>
            </dict>
            <key>lifebar_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{48,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,4}}</string>
                <key>sourceSize</key>
                <string>{48,4}</string>
            </dict>
            <key>lifebar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,114},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,4}}</string>
                <key>sourceSize</key>
                <string>{32,4}</string>
            </dict>
            <key>poison_big_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,184},{32,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,184},{32,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,40},{38,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,40},{38,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,108},{38,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{38,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,108},{38,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{38,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,100},{40,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{40,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,100},{40,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{40,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,148},{40,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,148},{40,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,36},{42,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{42,34}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,36},{42,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{42,34}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,176},{32,40}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,176},{32,40}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,130},{36,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,130},{36,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,146},{36,36}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,146},{36,36}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,108},{38,42}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,108},{38,42}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,86},{42,46}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{42,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,86},{42,46}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{42,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,68},{42,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{42,32}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,68},{42,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{42,32}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>pop_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,190},{68,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,222},{74,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{74,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,78},{116,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{116,34}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,34},{78,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,36},{76,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{76,34}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,40},{126,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,152},{88,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,152},{100,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,222},{68,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,40},{110,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{110,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,190},{68,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,114},{108,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{108,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,78},{110,34}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{110,34}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,114},{110,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{110,32}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,190},{96,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{96,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{104,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{104,32}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{92,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{92,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{96,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headEffect.png</string>
            <key>size</key>
            <string>{510,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f3399255a7445a31846c7fb4279f8af:1/1$</string>
            <key>textureFileName</key>
            <string>headEffect.png</string>
        </dict>
    </dict>
</plist>
