<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dwarf_mecha_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1078},{94,88}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,56},{94,88}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1292},{94,94}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{94,94}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1196},{94,94}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{94,94}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,872},{98,96}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,48},{98,96}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,560},{98,96}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,48},{98,96}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1094},{100,96}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{100,96}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1094},{100,96}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{100,96}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1440},{102,96}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{102,96}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1440},{102,96}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{102,96}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1214},{104,90}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,54},{104,90}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1214},{104,90}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,54},{104,90}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1214},{104,90}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,54},{104,90}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,972},{104,88}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,56},{104,88}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,972},{104,88}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,56},{104,88}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1426},{104,92}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,52},{104,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1426},{104,92}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,52},{104,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1412},{102,92}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{102,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1320},{104,92}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{104,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1320},{104,92}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{104,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1308},{102,92}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{102,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1308},{102,92}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{102,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1324},{104,92}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{104,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1324},{104,92}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{104,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1204},{102,92}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{102,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1100},{102,92}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{102,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1216},{106,92}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,52},{106,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,714},{108,92}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,52},{108,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,604},{108,92}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,52},{108,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{112,96}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{112,96}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,280},{110,98}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{110,98}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,772},{110,98}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{110,98}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1100},{112,98}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,46},{112,98}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,660},{110,98}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,46},{110,98}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,492},{110,100}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,46},{110,100}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,380},{110,100}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,46},{110,100}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,984},{114,98}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,47},{114,98}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,872},{114,98}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{114,98}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,660},{118,100}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{118,100}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,558},{118,100}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{118,100}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,972},{118,92}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,52},{118,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,974},{118,92}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,52},{118,92}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,868},{118,104}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{118,104}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,762},{118,104}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{118,104}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{156,142}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,142}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,290},{164,142}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{164,142}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,146},{168,142}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,142}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{168,142}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,142}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,142}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,142}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{168,142}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,142}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,142}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,142}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{168,140}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{168,140}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,140}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{168,140}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{166,138}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{166,138}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{140,122}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{140,122}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,434},{140,122}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{140,122}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,172},{140,106}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{140,106}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,172},{140,106}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{140,106}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{116,108}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{116,108}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{116,108}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{116,108}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{116,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{116,112}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{116,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{116,112}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{120,114}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{120,114}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{120,114}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{120,114}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{124,114}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{124,114}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,434},{124,58}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,89},{124,58}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>boss_dwarf_mecha_0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,434},{124,58}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,89},{124,58}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kr4_dwarf_mecha.png</string>
            <key>size</key>
            <string>{507,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfa502d6020496da55d9755cf998287d:1/1$</string>
            <key>textureFileName</key>
            <string>kr4_dwarf_mecha.png</string>
        </dict>
    </dict>
</plist>
