<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bruiser_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,51}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>bruiser_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,49}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>bruiser_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,49}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>bruiser_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,47}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>bruiser_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,47}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>bruiser_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,53}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>bruiser_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,53}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>bruiser_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,254},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,49}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>bruiser_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,254},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,49}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>bruiser_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>bruiser_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>bruiser_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,47}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>bruiser_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,47}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>bruiser_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,47}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>bruiser_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,47}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>bruiser_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>bruiser_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>bruiser_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,969},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,45}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>bruiser_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,969},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,45}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>bruiser_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,571},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,571},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,520},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,520},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,469},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,469},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,872},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,872},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,822},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,822},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,772},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,772},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,45}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>bruiser_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,45}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>bruiser_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,47}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bruiser_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,622},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,51}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>bruiser_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,622},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,51}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>bruiser_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,722},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,722},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,672},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,672},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bruiser_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,922},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,45}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>bruiser_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,922},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,45}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>bruiser_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,366},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>bruiser_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,366},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>bruiser_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,418},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,418},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bruiser_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>bruiser_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>bruiser_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,314},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>bruiser_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,314},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>bruiser_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,61}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>bruiser_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,61}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>bruiser_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>bruiser_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>bruiser_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,73}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>bruiser_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,73}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>bruiser_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{80,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,27}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>bruiser_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{80,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,27}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>bruiser_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,170},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,37}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>bruiser_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,170},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,37}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>bruiser_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,84},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,37}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>bruiser_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,84},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,37}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bruiser.png</string>
            <key>size</key>
            <string>{114,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06fb8766847c4c2fd13f9e7ea99f9431:1/1$</string>
            <key>textureFileName</key>
            <string>bruiser.png</string>
        </dict>
    </dict>
</plist>
