<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CB_Lycan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,70},{36,38}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{36,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,70},{36,38}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{36,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,68},{38,40}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{38,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,68},{38,40}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{38,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,66},{40,40}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{40,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,66},{40,40}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{40,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{36,40}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{36,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,62},{32,34}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{32,34}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,62},{32,34}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{32,34}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,70},{30,36}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{30,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,70},{30,36}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{30,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,62},{26,38}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{26,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,62},{26,38}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{26,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,66},{26,40}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{26,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,66},{26,40}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{26,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,62},{26,42}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{26,42}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,62},{26,42}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{26,42}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,66},{26,40}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{26,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,66},{30,38}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{30,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,66},{30,38}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{30,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,70},{34,36}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{34,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,70},{34,36}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{34,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,70},{36,38}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{36,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,70},{36,38}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{36,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,66},{30,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{30,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,66},{30,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{30,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,66},{30,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{30,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,70},{30,36}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{30,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,70},{30,36}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{30,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,62},{30,34}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{30,34}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,62},{30,34}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{30,34}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,60},{28,32}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{28,32}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,60},{28,32}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{28,32}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,60},{28,32}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{28,32}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,60},{28,32}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{28,32}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,60},{28,32}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{28,32}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,62},{32,42}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{32,42}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,62},{32,42}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{32,42}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,54},{50,52}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{50,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,54},{50,52}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{50,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{66,62}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{66,62}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{66,62}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{62,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{62,60}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{62,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{62,60}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{62,56}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{62,56}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{58,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{58,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{58,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{58,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{50,52}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{50,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{50,52}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{50,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,58},{54,48}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{54,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,58},{54,48}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{54,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{58,46}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{58,46}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{58,46}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{58,46}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,64},{60,42}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{60,42}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,64},{60,42}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{60,42}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,60},{52,46}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{52,46}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,60},{52,46}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{52,46}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{56,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{56,50}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{56,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{56,50}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{58,52}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{58,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{58,52}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{58,52}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{52,60}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{52,60}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{52,60}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{50,56}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{50,56}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{50,56}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{50,56}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{50,56}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{50,56}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{54,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{54,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{54,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{62,48}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{62,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{62,48}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{62,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{62,48}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{62,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{66,48}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{66,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{66,48}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{66,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{66,48}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{66,48}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{64,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{64,50}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{64,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{64,50}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{66,50}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{66,50}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{66,50}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{66,50}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,36}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{66,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,36}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{66,36}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{64,38}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{64,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{66,38}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{66,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{66,38}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{66,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,68},{64,38}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{64,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,68},{64,38}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{64,38}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>CB_Lycan_0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{66,40}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,31},{66,40}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cb_lycan.png</string>
            <key>size</key>
            <string>{1014,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f49488daac7e0edb9f5ac92fd8765603:1/1$</string>
            <key>textureFileName</key>
            <string>cb_lycan.png</string>
        </dict>
    </dict>
</plist>
