<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forest_troll_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,78},{78,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,20},{78,78}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,78},{78,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,20},{78,78}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{76,80}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,18},{76,80}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{76,82}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{76,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{76,82}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{76,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{74,84}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,90},{74,86}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,90},{74,86}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,88},{74,84}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{74,84}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{74,84}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{74,80}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,18},{74,80}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,84},{74,78}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,20},{74,78}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,84},{74,78}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,20},{74,78}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{74,80}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,18},{74,80}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,86},{74,82}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{74,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,86},{74,82}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{74,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,88},{74,84}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{74,86}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{74,86}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{74,84}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,88},{74,84}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,88},{74,84}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{76,82}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{76,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,86},{78,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,18},{78,80}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,90},{76,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,90},{76,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{76,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{76,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,100},{78,90}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,8},{78,90}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,100},{78,90}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,8},{78,90}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{76,88}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,10},{76,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{76,88}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,10},{76,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,90},{76,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,90},{76,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,88},{74,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,88},{74,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{74,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,90},{74,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,90},{74,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{76,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{76,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,100},{78,88}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{78,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,100},{78,88}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{78,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{76,88}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,10},{76,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{76,88}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,10},{76,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,92},{76,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,92},{76,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{74,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{74,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{74,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,86},{78,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,86},{78,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,100},{78,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{78,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,100},{78,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{78,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,92},{80,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{80,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,92},{80,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{80,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,96},{82,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{82,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,96},{82,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{82,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{80,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{80,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{78,82}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{78,82}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,88},{78,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,88},{78,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,100},{78,82}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,100},{78,82}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{78,82}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,88},{80,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,88},{80,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,96},{82,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{82,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,96},{82,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{82,86}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{80,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{80,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,100},{78,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{78,84}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,98}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,19},{88,98}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{88,96}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{88,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{88,96}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{88,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{90,96}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,20},{90,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{90,96}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,20},{90,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{90,96}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,20},{90,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{90,96}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,20},{90,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{90,96}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{90,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{90,96}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{90,96}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{88,88}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{88,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{88,88}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{88,88}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{92,60}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,56},{92,60}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{92,60}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,56},{92,60}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{92,54}}</string>
                <key>offset</key>
                <string>{24,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,62},{92,54}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{92,54}}</string>
                <key>offset</key>
                <string>{24,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,62},{92,54}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{92,58}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{92,58}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{92,58}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{92,58}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{94,56}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{94,56}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{94,56}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{94,56}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{94,56}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{94,56}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{94,56}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{94,56}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{94,56}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{94,56}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>forest_troll_0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{94,56}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{94,56}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest_troll.png</string>
            <key>size</key>
            <string>{2034,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55dc78f893994e5ae9a622e590d7486:1/1$</string>
            <key>textureFileName</key>
            <string>forest_troll.png</string>
        </dict>
    </dict>
</plist>
