<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brigand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{26,32}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{26,32}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{26,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{24,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{24,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{24,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{24,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{24,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{24,36}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{24,36}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{24,36}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{26,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{26,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{26,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{26,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{22,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{22,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{22,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{22,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{24,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{22,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{22,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{22,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{22,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{24,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{22,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{22,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{22,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{22,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{24,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{22,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{22,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{22,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{22,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{22,28}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{22,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{22,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{24,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{22,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{22,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{22,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{22,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{28,26}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{28,26}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{30,26}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{30,26}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{30,24}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{30,24}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{34,20}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{34,20}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{32,16}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{32,16}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{32,16}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{32,16}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>brigand_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{34,18}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{34,18}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brigand.png</string>
            <key>size</key>
            <string>{30,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd2cc37134752c3e4ec723caa763d86:1/1$</string>
            <key>textureFileName</key>
            <string>brigand.png</string>
        </dict>
    </dict>
</plist>
