<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bruce_hero_ultimate_twister_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{44,48}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,41},{44,48}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{44,48}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,41},{44,48}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{52,58}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{52,58}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{52,58}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{52,58}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{58,62}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{58,62}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{58,62}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{58,62}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{72,74}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{72,74}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{72,74}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{72,74}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,74}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{70,74}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,74}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{70,74}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{70,78}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{70,78}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{70,78}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{70,78}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,76}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{74,76}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,76}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{74,76}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{72,72}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{72,72}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{72,72}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{72,72}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{70,70}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{70,70}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{70,70}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{70,70}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{66,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{66,66}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{66,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{66,66}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{64,58}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{64,58}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>bruce_hero_ultimate_twister_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{64,58}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{64,58}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bruce_hero_ultimate_twister.png</string>
            <key>size</key>
            <string>{740,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:335d836624b0f9a679a1d40de51de4b6:1/1$</string>
            <key>textureFileName</key>
            <string>bruce_hero_ultimate_twister.png</string>
        </dict>
    </dict>
</plist>
