<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buffing_armor_small_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{28,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{28,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{30,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{30,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{30,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{34,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{34,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{34,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{36,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{36,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{36,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>buffing_armor_small_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buffing_armor.png</string>
            <key>size</key>
            <string>{683,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:130c67e37ea7374fc7d3f79b621fcbff:1/1$</string>
            <key>textureFileName</key>
            <string>buffing_armor.png</string>
        </dict>
    </dict>
</plist>
