<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocketeer_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{40,38}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{40,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,506},{40,36}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{40,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{38,36}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{38,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,468},{38,38}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{38,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,428},{40,38}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{40,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,468},{40,36}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{40,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{40,36}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{40,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,508},{38,36}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{38,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,58},{54,38}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{54,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,310},{56,36}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{56,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,390},{50,36}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{50,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{50,38}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{50,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{54,38}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{54,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{56,36}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{50,36}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{50,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,36}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{48,36}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,428},{32,38}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{32,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,428},{32,38}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{32,38}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{50,46}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{50,46}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{50,46}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{50,46}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,240},{68,56}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{68,56}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,240},{68,56}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{68,56}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{78,62}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{78,62}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{78,62}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{78,62}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,66}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{84,66}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,66}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{84,66}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{76,66}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{76,66}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{76,66}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{76,66}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{74,66}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{74,66}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,166},{72,48}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,166},{72,48}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,348},{46,40}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{46,40}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>rocketeer_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,348},{46,40}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{46,40}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocketeer.png</string>
            <key>size</key>
            <string>{128,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11dab0f49e1147be621f7f8a502c240c:1/1$</string>
            <key>textureFileName</key>
            <string>rocketeer.png</string>
        </dict>
    </dict>
</plist>
