<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenu_slot_button_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{583,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,148}}</string>
                <key>sourceSize</key>
                <string>{583,148}</string>
            </dict>
            <key>achievementsBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,782},{438,162}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,162}}</string>
                <key>sourceSize</key>
                <string>{440,180}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1553},{43,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{43,134}}</string>
                <key>sourceSize</key>
                <string>{59,148}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1598},{47,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{47,126}}</string>
                <key>sourceSize</key>
                <string>{55,136}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1222},{45,158}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{45,158}}</string>
                <key>sourceSize</key>
                <string>{65,168}</string>
            </dict>
            <key>btn_shenlu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1022},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>btn_shenlu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,765},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>button_privacy_confirm_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1306},{290,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{290,102}}</string>
                <key>sourceSize</key>
                <string>{296,112}</string>
            </dict>
            <key>button_privacy_confirm_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{296,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,112}}</string>
                <key>sourceSize</key>
                <string>{296,112}</string>
            </dict>
            <key>charname.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1648},{286,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,36}}</string>
                <key>sourceSize</key>
                <string>{286,36}</string>
            </dict>
            <key>cjtubiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{692,1915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>defeat_screen_buttons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1288},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{122,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>defeat_screen_buttons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,469},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{238,238}}</string>
                <key>sourceSize</key>
                <string>{248,246}</string>
            </dict>
            <key>defeat_screen_buttons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1166},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{122,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>defeat_screen_buttons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1032},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{238,238}}</string>
                <key>sourceSize</key>
                <string>{248,246}</string>
            </dict>
            <key>gui_bottom_info_icon_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1616},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,37}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>hero_item_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1045},{40,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,119}}</string>
                <key>sourceSize</key>
                <string>{40,119}</string>
            </dict>
            <key>hero_list_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1045},{119,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,150}}</string>
                <key>sourceSize</key>
                <string>{119,150}</string>
            </dict>
            <key>hero_portraits_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1762},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>hero_sel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1598},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,108}}</string>
                <key>sourceSize</key>
                <string>{50,110}</string>
            </dict>
            <key>heroroom_powers_icons_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1843},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>heroroom_upgradeIcons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1820},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1744},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1668},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1592},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1610},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>hud_buttons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1288},{106,104}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{106,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_767.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1947},{60,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>item_mohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1934},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1288},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>level_end_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{546,164}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{546,164}}</string>
                <key>sourceSize</key>
                <string>{550,180}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{522,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,117}}</string>
                <key>sourceSize</key>
                <string>{522,117}</string>
            </dict>
            <key>main_menues_bg_closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1972},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>main_menues_bg_closeButton_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1867},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_levelselect_playbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,312},{378,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,155}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>map_mainbuttons_heroes_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,918},{198,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{198,198}}</string>
                <key>sourceSize</key>
                <string>{280,208}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1754},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1644},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1757},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1647},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1532},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1506},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1422},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1396},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1312},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1876},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1757},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1647},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>menu_options_common_button_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{294,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{294,144}}</string>
                <key>sourceSize</key>
                <string>{298,148}</string>
            </dict>
            <key>menu_options_socialmedia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1946},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>notification_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{492,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,152}}</string>
                <key>sourceSize</key>
                <string>{492,152}</string>
            </dict>
            <key>notification_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{816,150}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{816,150}}</string>
                <key>sourceSize</key>
                <string>{828,166}</string>
            </dict>
            <key>notification_title_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,156}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{816,156}}</string>
                <key>sourceSize</key>
                <string>{828,166}</string>
            </dict>
            <key>option_menu_ingame_button_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,782},{248,244}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{248,244}}</string>
                <key>sourceSize</key>
                <string>{262,260}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,877},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,709},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1387},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1387},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>optionsUI_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,952},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>optionsUI_button_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,882},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>portraits_small_states_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1118},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{170,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>power_reinforcement_portrait_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1501},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>reinforcement_portrait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1410},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_cisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1736},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1704},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_badaohuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1867},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_huimiehuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1516},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_kuanglongzidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1422},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_linghunhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1648},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>skill_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1953},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shixueshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1953},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shouhuzhiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1867},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xukongfalidun.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1896},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_youlanaoyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1885},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhanshenchongzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1828},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1795},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1642},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_powers_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1752},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1272},{270,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,113}}</string>
                <key>sourceSize</key>
                <string>{270,113}</string>
            </dict>
            <key>towerselect_powers_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1553},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>towerselect_powers_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1553},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>ui_common_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,469},{170,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,220}}</string>
                <key>sourceSize</key>
                <string>{174,224}</string>
            </dict>
            <key>upgrades_buyBut_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{340,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{340,114}}</string>
                <key>sourceSize</key>
                <string>{344,120}</string>
            </dict>
            <key>xunzhangtubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,709},{194,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,207}}</string>
                <key>sourceSize</key>
                <string>{194,207}</string>
            </dict>
            <key>yaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,691},{72,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>yaoganpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1166},{144,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_img.png</string>
            <key>size</key>
            <string>{967,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217c009bedd92ba33beef2d529e7c36e:1/1$</string>
            <key>textureFileName</key>
            <string>ui_img.png</string>
        </dict>
    </dict>
</plist>
