<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenu_slot_button_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,148}}</string>
                <key>sourceSize</key>
                <string>{583,148}</string>
            </dict>
            <key>achievementsBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,168},{438,162}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,162}}</string>
                <key>sourceSize</key>
                <string>{440,180}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1353},{43,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{43,134}}</string>
                <key>sourceSize</key>
                <string>{59,148}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,262},{47,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{47,126}}</string>
                <key>sourceSize</key>
                <string>{55,136}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,332},{45,158}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{45,158}}</string>
                <key>sourceSize</key>
                <string>{65,168}</string>
            </dict>
            <key>btn_shenlu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,210},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>btn_shenlu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,168},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>button_privacy_confirm_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,598},{290,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{290,102}}</string>
                <key>sourceSize</key>
                <string>{296,112}</string>
            </dict>
            <key>button_privacy_confirm_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,866},{296,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,112}}</string>
                <key>sourceSize</key>
                <string>{296,112}</string>
            </dict>
            <key>charname.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1315},{286,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,36}}</string>
                <key>sourceSize</key>
                <string>{286,36}</string>
            </dict>
            <key>cjtubiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{93,1722},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>defeat_screen_buttons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1438},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{122,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>defeat_screen_buttons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1641},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{238,238}}</string>
                <key>sourceSize</key>
                <string>{248,246}</string>
            </dict>
            <key>defeat_screen_buttons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1316},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{122,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>defeat_screen_buttons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1599},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{238,238}}</string>
                <key>sourceSize</key>
                <string>{248,246}</string>
            </dict>
            <key>demo_stage_card_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,562},{210,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{210,202}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>gui_bottom_info_icon_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,337},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,37}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>hero_item_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1489},{40,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,119}}</string>
                <key>sourceSize</key>
                <string>{40,119}</string>
            </dict>
            <key>hero_list_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1164},{119,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,150}}</string>
                <key>sourceSize</key>
                <string>{119,150}</string>
            </dict>
            <key>hero_portraits_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,890},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>hero_sel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,152},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,108}}</string>
                <key>sourceSize</key>
                <string>{50,110}</string>
            </dict>
            <key>heroroom_powers_icons_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>heroroom_upgradeIcons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1798},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1722},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1740},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1664},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1839},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1839},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heroroom_upgradeIcons_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1631},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>hud_buttons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,492},{106,104}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{106,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_767.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{60,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>item_mohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1808},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1839},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>level_end_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{546,164}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{546,164}}</string>
                <key>sourceSize</key>
                <string>{550,180}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{522,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,117}}</string>
                <key>sourceSize</key>
                <string>{522,117}</string>
            </dict>
            <key>main_menues_bg_closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,271},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>main_menues_bg_closeButton_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,822},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_levelselect_playbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,332},{378,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,155}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>map_mainbuttons_heroes_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,962},{198,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{198,198}}</string>
                <key>sourceSize</key>
                <string>{280,208}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1923},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1813},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1780},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1703},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1670},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1593},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1560},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1531},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1517},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1407},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1297},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1187},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1077},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>menu_options_common_button_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1169},{294,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{294,144}}</string>
                <key>sourceSize</key>
                <string>{298,148}</string>
            </dict>
            <key>menu_options_socialmedia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1004},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>notification_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1169},{246,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,76}}</string>
                <key>sourceSize</key>
                <string>{246,76}</string>
            </dict>
            <key>notification_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,2},{408,77}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{408,77}}</string>
                <key>sourceSize</key>
                <string>{414,83}</string>
            </dict>
            <key>notification_title_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,412},{408,79}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{408,79}}</string>
                <key>sourceSize</key>
                <string>{414,83}</string>
            </dict>
            <key>option_menu_ingame_button_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1353},{248,244}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{248,244}}</string>
                <key>sourceSize</key>
                <string>{262,260}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1881},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1881},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1498},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1332},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>optionsUI_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1808},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>optionsUI_button_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1417},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>portraits_small_states_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1162},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{170,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>power_reinforcement_portrait_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1755},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>reinforcement_portrait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1664},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>screen_map_stage_thumbs-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1291},{338,340}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{338,340}}</string>
                <key>sourceSize</key>
                <string>{496,444}</string>
            </dict>
            <key>screen_map_stage_thumbs-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,829},{338,340}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{338,340}}</string>
                <key>sourceSize</key>
                <string>{496,444}</string>
            </dict>
            <key>screen_map_stage_thumbs-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{338,340}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{338,340}}</string>
                <key>sourceSize</key>
                <string>{496,444}</string>
            </dict>
            <key>screen_map_stage_thumbs-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{338,340}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{338,340}}</string>
                <key>sourceSize</key>
                <string>{496,444}</string>
            </dict>
            <key>screen_map_stage_thumbs-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,489},{338,340}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{338,340}}</string>
                <key>sourceSize</key>
                <string>{496,444}</string>
            </dict>
            <key>screen_map_stage_thumbs-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{338,340}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{338,340}}</string>
                <key>sourceSize</key>
                <string>{496,444}</string>
            </dict>
            <key>skill-reduce_cisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1631},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1631},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_badaohuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1507},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_huimiehuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1923},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_kuanglongzidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1923},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_linghunhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,271},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>skill_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1421},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shixueshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1244},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shouhuzhiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1158},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xukongfalidun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1072},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_youlanaoyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,986},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhanshenchongzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,900},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1330},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1923},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_powers_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1923},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,594},{270,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,113}}</string>
                <key>sourceSize</key>
                <string>{270,113}</string>
            </dict>
            <key>towerselect_powers_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1935},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>towerselect_powers_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1935},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>ui_common_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,390},{170,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,220}}</string>
                <key>sourceSize</key>
                <string>{174,224}</string>
            </dict>
            <key>upgrades_buyBut_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,252},{340,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{340,114}}</string>
                <key>sourceSize</key>
                <string>{344,120}</string>
            </dict>
            <key>xunzhangtubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,766},{194,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,207}}</string>
                <key>sourceSize</key>
                <string>{194,207}</string>
            </dict>
            <key>yaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1923},{72,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>yaoganpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1890},{144,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_img.png</string>
            <key>size</key>
            <string>{1214,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:437ae63278673060acffe3eba3e4fc15:1/1$</string>
            <key>textureFileName</key>
            <string>ui_img.png</string>
        </dict>
    </dict>
</plist>
