<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenu_slot_button_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,148}}</string>
                <key>sourceSize</key>
                <string>{583,148}</string>
            </dict>
            <key>MainMenu_slots_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{716,534}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{716,534}}</string>
                <key>sourceSize</key>
                <string>{720,538}</string>
            </dict>
            <key>btn_shenlu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,390},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>btn_shenlu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,273},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>charname.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,507},{286,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,36}}</string>
                <key>sourceSize</key>
                <string>{286,36}</string>
            </dict>
            <key>cjtubiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{88,1653},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>hero_item_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,152},{40,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,119}}</string>
                <key>sourceSize</key>
                <string>{40,119}</string>
            </dict>
            <key>hero_list_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,826},{119,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,150}}</string>
                <key>sourceSize</key>
                <string>{119,150}</string>
            </dict>
            <key>hero_sel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1261},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,108}}</string>
                <key>sourceSize</key>
                <string>{50,110}</string>
            </dict>
            <key>heroroom_powers_icons_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,462},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>item_767.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1895},{60,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>item_mohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1829},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,184},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{522,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,117}}</string>
                <key>sourceSize</key>
                <string>{522,117}</string>
            </dict>
            <key>main_menues_bg_closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1763},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>main_menues_bg_closeButton_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1957},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_levelselect_playbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{378,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,155}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1687},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1653},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1577},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1602},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1577},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1543},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1543},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1467},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1492},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1467},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1433},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1433},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>menu_options_common_button_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1125},{294,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{294,144}}</string>
                <key>sourceSize</key>
                <string>{298,148}</string>
            </dict>
            <key>menu_options_socialmedia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1419},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>power_reinforcement_portrait_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,371},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>reinforcement_portrait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,280},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_bingpaoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1362},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_cisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1271},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_lieyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1328},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1237},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_quntifushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1146},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_zhaohuanbaihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,735},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_zhuorehuoqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,644},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_zhuri.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,553},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_badaohuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_banyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1859},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_bingpaoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1797},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_huimiehuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1859},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_kuanglongzidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1739},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,81}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_linghunhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,989},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>skill_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1859},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_qiancheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1859},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_qiancheng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1859},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shixueshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1957},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shouhuzhiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1957},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_siwangmaichong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1957},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_tulongzhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1957},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_wujizhenqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1957},{84,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xiuluoyinmie.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1957},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xuanfengzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1739},{82,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{82,81}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xukongfalidun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1957},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_youlanaoyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1849},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhanshenchongzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1773},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhaohuanbaihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1763},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhuorehuoqiang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1687},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1453},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,93},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{270,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,113}}</string>
                <key>sourceSize</key>
                <string>{270,113}</string>
            </dict>
            <key>towerselect_powers_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>ui_common_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1261},{170,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,220}}</string>
                <key>sourceSize</key>
                <string>{174,224}</string>
            </dict>
            <key>xunzhangtubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1271},{194,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,207}}</string>
                <key>sourceSize</key>
                <string>{194,207}</string>
            </dict>
            <key>yaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>yaoganpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,978},{146,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_img.png</string>
            <key>size</key>
            <string>{682,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d2bf62ac00237b57a1995317e4c9d91:1/1$</string>
            <key>textureFileName</key>
            <string>ui_img.png</string>
        </dict>
    </dict>
</plist>
