<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desertImmortal_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{38,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{38,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{36,46}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{36,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{36,46}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{36,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{40,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{40,44}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{40,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{40,44}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{44,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{44,38}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{44,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{44,38}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{42,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{42,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{38,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{38,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{38,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{38,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{36,46}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{36,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{36,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{36,44}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{36,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{36,44}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{38,38}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{38,38}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{50,36}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{50,36}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{34,34}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{34,34}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{34,34}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{34,34}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{38,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{38,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{38,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{38,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{40,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{40,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{40,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{40,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{36,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{36,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{36,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{36,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{30,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{30,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{30,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{30,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{26,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{26,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>desertImmortal_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{26,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{26,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desert_Immortal.png</string>
            <key>size</key>
            <string>{930,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0681867f8685f1334654b4a045bbf11:1/1$</string>
            <key>textureFileName</key>
            <string>desert_Immortal.png</string>
        </dict>
    </dict>
</plist>
