<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anubis_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,180},{96,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{96,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,294},{94,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,66},{94,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,294},{94,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,66},{94,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,284},{96,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{96,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,284},{96,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{96,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,180},{96,118}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,60},{96,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,180},{96,118}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,60},{96,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,168},{100,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{100,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,168},{100,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{100,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,248},{102,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,248},{102,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,362},{102,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{102,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,362},{102,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{102,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,362},{102,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{102,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,382},{102,112}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,382},{102,112}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,386},{98,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,64},{98,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,386},{98,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,64},{98,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,338},{98,116}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{98,116}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,338},{98,116}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{98,116}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,400},{94,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{94,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,400},{94,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{94,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,390},{92,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,66},{92,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,390},{92,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,66},{92,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,400},{92,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{92,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,400},{92,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{92,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,294},{94,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,66},{94,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,294},{94,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,66},{94,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,284},{96,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{96,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,284},{96,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{96,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,180},{96,118}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,60},{96,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,180},{96,118}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,60},{96,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,168},{100,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{100,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,168},{100,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{100,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,248},{102,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,248},{102,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,362},{102,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{102,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,362},{102,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{102,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,362},{102,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{102,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,382},{102,112}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,382},{102,112}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{102,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,386},{98,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,64},{98,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,386},{98,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,64},{98,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,338},{98,116}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{98,116}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,338},{98,116}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{98,116}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,400},{94,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{94,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,400},{94,114}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{94,114}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,390},{92,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,66},{92,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,390},{92,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,66},{92,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,400},{92,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{92,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,400},{92,110}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{92,110}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,180},{96,112}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{96,112}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,278},{106,118}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,60},{106,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,278},{106,118}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,60},{106,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,386},{108,116}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,62},{108,116}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,386},{108,116}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,62},{108,116}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{104,124}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,61},{104,124}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{104,124}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,61},{104,124}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,128},{104,118}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{104,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,128},{104,118}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{104,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,214},{104,122}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{104,122}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,214},{104,122}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{104,122}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,214},{104,122}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{104,122}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{142,142}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{142,142}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,136},{166,166}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{166,166}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,136},{166,166}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{166,166}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{176,176}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{176,176}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{176,176}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{176,176}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{180,180}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{180,180}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{180,180}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{180,180}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{174,164}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{174,164}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{174,164}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{174,164}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,164}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{204,164}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,164}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{204,164}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{210,132}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,56},{210,132}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{210,132}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,56},{210,132}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{212,118}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,70},{212,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{212,118}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,70},{212,118}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,216},{212,54}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,134},{212,54}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,216},{212,54}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,134},{212,54}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{212,54}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,134},{212,54}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{212,54}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,134},{212,54}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,122},{212,56}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,132},{212,56}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,122},{212,56}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,132},{212,56}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,180},{212,32}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,156},{212,32}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,180},{212,32}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,156},{212,32}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,136},{212,32}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,156},{212,32}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,136},{212,32}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,156},{212,32}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,168},{212,32}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,156},{212,32}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,168},{212,32}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,156},{212,32}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>anubis_0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,304},{96,28}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,156},{96,28}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>abubis.png</string>
            <key>size</key>
            <string>{1150,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:495f929b7c333656dae6773e22ea7298:1/1$</string>
            <key>textureFileName</key>
            <string>abubis.png</string>
        </dict>
    </dict>
</plist>
