<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfSoldier_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{36,28}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{36,28}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{36,28}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{36,28}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,72},{34,30}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{34,30}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{34,32}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,36},{34,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{34,30}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{36,26}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{36,26}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{26,28}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{26,28}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{24,28}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{24,28}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,126},{26,26}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{28,18}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{28,18}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,170},{30,14}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{30,14}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,154},{30,14}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{30,14}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,108},{30,16}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{30,16}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>elfSoldier_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,108},{30,16}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{30,16}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfSoldier.png</string>
            <key>size</key>
            <string>{64,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e8a56df3c5e7dc9341f77a32220b65c:1/1$</string>
            <key>textureFileName</key>
            <string>elfSoldier.png</string>
        </dict>
    </dict>
</plist>
