<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_green_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,978},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,934},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,934},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,902},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,902},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,788},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,788},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,680},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_green_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,680},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,950},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,918},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,918},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,886},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,886},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,742},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,742},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_red_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,966},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,854},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,854},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,718},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,718},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,652},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_sparks_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,652},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,966},{26,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{26,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,822},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,822},{32,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{34,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{40,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood_violet_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{42,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>boss_health_bar_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,188},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>boss_health_bar_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,38},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>poison_big_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,708},{32,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,708},{32,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,414},{38,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,414},{38,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{38,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,750},{38,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{38,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,750},{38,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{38,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{40,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{40,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{40,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{40,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,498},{40,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,498},{40,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{40,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{42,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{42,34}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_big_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{42,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{42,34}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{32,40}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{32,40}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,540},{36,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,540},{36,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{36,36}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{36,36}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,578},{38,42}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,578},{38,42}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,454},{42,46}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{42,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,454},{42,46}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{42,46}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,618},{42,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{42,32}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>poison_violet_big_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,618},{42,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{42,32}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>pop_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{68,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,338},{74,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{74,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{116,34}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{78,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{76,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{76,34}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,774},{126,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,578},{138,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{88,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{100,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{68,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{110,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{110,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{68,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{108,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{108,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{110,34}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{110,34}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{110,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{110,32}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{96,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{96,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{104,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{104,32}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{92,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{92,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>pop_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{96,30}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headEffect.png</string>
            <key>size</key>
            <string>{128,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:522bededd5d126e1e7e204f5779041ba:1/1$</string>
            <key>textureFileName</key>
            <string>headEffect.png</string>
        </dict>
    </dict>
</plist>
