<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>razzAndRaggs_hero_ultimateFx_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,70},{50,40}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,70},{50,40}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,2},{54,58}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{68,94}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{68,94}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{68,94}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{68,94}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{84,106}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{84,106}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{84,106}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{84,106}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{90,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{90,110}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{90,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{90,110}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{88,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,116}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{88,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,116}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{88,112}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{88,112}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{90,114}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{90,114}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,114}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{90,114}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{90,86}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{88,84}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{88,84}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{88,80}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{88,80}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{84,58}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{84,58}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{76,56}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>razzAndRaggs_hero_ultimateFx_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{76,56}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>razzAndRaggs.png</string>
            <key>size</key>
            <string>{1802,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc260a6c33dc8a8f8fed945335fcdf1:1/1$</string>
            <key>textureFileName</key>
            <string>razzAndRaggs.png</string>
        </dict>
    </dict>
</plist>
