<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gollem_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,94},{86,88}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{86,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,94},{86,88}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{86,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,96},{88,90}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{88,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,96},{88,90}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{88,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{88,90}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,12},{88,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{88,90}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,12},{88,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{90,92}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{90,92}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{90,92}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{90,92}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,2},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,2},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,96},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,96},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,96},{92,90}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{92,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,96},{92,90}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{92,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,96},{90,92}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{90,92}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,96},{90,92}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{90,92}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{88,92}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{88,92}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{88,92}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{88,92}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,92},{90,86}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,16},{90,86}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,92},{90,86}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,16},{90,86}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,96},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,96},{92,88}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{92,88}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,98},{92,90}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{92,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,98},{92,90}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{92,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,98},{92,90}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{92,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,98},{92,90}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{92,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{86,90}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{86,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{86,90}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{86,90}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,100},{88,98}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{88,98}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,100},{88,98}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{88,98}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{86,100}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{86,100}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{86,100}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{86,100}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,102},{86,100}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{86,100}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,102},{86,100}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{86,100}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,102},{86,102}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,102},{86,102}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,102},{86,102}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,102},{86,102}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,102},{86,102}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,102},{86,102}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{88,98}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,4},{88,98}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{92,100}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,3},{92,100}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{94,104}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{94,104}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{96,104}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{96,104}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{98,106}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{98,106}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{100,106}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,2},{100,106}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{102,100}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{102,100}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{102,102}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{102,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,102}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{104,102}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,104}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{104,104}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,104}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{108,98}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{108,98}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{110,98}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{110,98}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{112,36}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,71},{112,36}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,104},{112,34}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,71},{112,34}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>gollem_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{114,36}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,70},{114,36}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gollem.png</string>
            <key>size</key>
            <string>{2016,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92db7473065ad3367d53d26e89c86961:1/1$</string>
            <key>textureFileName</key>
            <string>gollem.png</string>
        </dict>
    </dict>
</plist>
