<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_reinforce_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{56,44}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,69},{56,44}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{56,46}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,67},{56,46}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{56,48}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,65},{56,48}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{56,48}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,65},{56,48}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,48}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,65},{56,48}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{56,42}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,71},{56,42}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{56,44}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,69},{56,44}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{42,36}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,74},{42,36}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{42,36}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,74},{42,36}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{42,32}}</string>
                <key>offset</key>
                <string>{-15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,78},{42,32}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{40,28}}</string>
                <key>offset</key>
                <string>{-16,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,90},{40,28}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,428},{40,20}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,96},{40,20}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,428},{40,20}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,96},{40,20}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{42,26}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,92},{42,26}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{42,26}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,92},{42,26}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>hero_reinforce_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{42,26}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,92},{42,26}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_reinforce.png</string>
            <key>size</key>
            <string>{60,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec01dd17700d73b8b9f75986b4af59b:1/1$</string>
            <key>textureFileName</key>
            <string>hero_reinforce.png</string>
        </dict>
    </dict>
</plist>
