<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_oloch_magma_eruption_explotion_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,110},{1,1}}</string>
                <key>offset</key>
                <string>{-52.5,114.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1322},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,173},{34,38}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1322},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,173},{34,38}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1248},{42,72}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,142},{42,72}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1248},{42,72}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,142},{42,72}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,892},{40,110}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,108},{40,110}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,892},{40,110}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,108},{40,110}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1204},{46,124}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,91},{46,124}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1204},{46,124}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,91},{46,124}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{54,154}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{54,154}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{54,154}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{54,154}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{54,154}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{54,154}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{54,154}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{54,154}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{54,154}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{54,154}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{54,154}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{54,154}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{82,150}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,63},{82,150}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{84,158}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,55},{84,158}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{84,164}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,49},{84,164}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{84,168}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,45},{84,168}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{84,168}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,44},{84,168}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{84,170}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,42},{84,170}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{82,172}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{82,172}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{82,174}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{82,174}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{80,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,35},{80,176}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{80,178}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,33},{80,178}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{78,180}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,33},{78,180}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{76,182}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{76,182}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_magma_eruption_explotion_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,184}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{72,184}}</string>
                <key>sourceSize</key>
                <string>{106,230}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,110},{1,1}}</string>
                <key>offset</key>
                <string>{-67.5,55.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1858},{104,60}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,48},{104,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1792},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1252},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1114},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1024},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,934},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,802},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,712},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,542},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,434},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,326},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,218},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,110},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{106,88}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1342},{106,82}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{106,82}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{106,80}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{106,80}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1426},{106,80}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{106,80}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1588},{106,78}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{106,78}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{106,78}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{106,78}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{106,74}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{106,74}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1508},{106,78}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{106,78}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1750},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1750},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1750},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1750},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1750},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1750},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1730},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1668},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1642},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1534},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1426},{106,60}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{106,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1854},{104,60}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{104,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{104,60}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{104,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{104,60}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{104,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>hero_oloch_teleport_decal_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,650},{104,60}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{104,60}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oloch_teleport_decal.png</string>
            <key>size</key>
            <string>{280,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28a0e3f3000d06401906f48a276a5305:1/1$</string>
            <key>textureFileName</key>
            <string>oloch_teleport_decal.png</string>
        </dict>
    </dict>
</plist>
