<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_oni_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{56,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,54},{56,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{56,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,54},{56,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{56,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,54},{56,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{56,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,54},{56,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,60}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{56,60}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,60}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{56,60}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{58,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,54},{58,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{58,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,54},{58,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{58,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,54},{58,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{58,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,54},{58,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{56,64}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,52},{56,64}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{56,62}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,54},{56,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,60}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,56},{58,60}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{58,62}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,54},{58,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{56,62}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,54},{56,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{56,62}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,54},{56,62}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{64,44}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,73},{64,44}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{64,44}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,73},{64,44}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,73},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,73},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,75},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,75},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{64,50}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{64,50}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{64,52}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{64,52}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{64,52}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{64,52}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{64,52}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{64,52}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{64,52}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{64,52}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{64,52}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{64,52}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{64,52}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{64,52}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{64,48}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{64,48}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,46}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,78},{64,46}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{64,44}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,80},{64,44}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{64,44}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,80},{64,44}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{64,36}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,88},{64,36}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{64,36}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,88},{64,36}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,34},{64,28}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,96},{64,28}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,34},{64,28}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,96},{64,28}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{64,36}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,88},{64,36}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{64,36}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,88},{64,36}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>hero_oni_0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,2},{64,30}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,94},{64,30}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_oni.png</string>
            <key>size</key>
            <string>{2018,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00927433b50d8e2b4a62d64c67f1c0b0:1/1$</string>
            <key>textureFileName</key>
            <string>hero_oni.png</string>
        </dict>
    </dict>
</plist>
