<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_shenlu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,250},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>btn_shenlu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,330},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>charname.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,121},{286,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,36}}</string>
                <key>sourceSize</key>
                <string>{286,36}</string>
            </dict>
            <key>cjtubiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{738,204},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>item_767.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,408},{60,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>item_mohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,342},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,159},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{522,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,117}}</string>
                <key>sourceSize</key>
                <string>{522,117}</string>
            </dict>
            <key>skill-reduce_bingpaoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,292},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_cisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,383},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_lieyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,292},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,346},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_quntifushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,255},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_zhaohuanbaihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,159},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_zhuorehuoqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,159},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_zhuri.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_badaohuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,376},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_banyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,376},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_bingpaoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,290},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_huimiehuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,290},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_kuanglongzidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,377},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,81}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_linghunhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>skill_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,290},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_qiancheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,290},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_qiancheng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,246},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shixueshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,179},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shouhuzhiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,203},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_siwangmaichong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,204},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_tulongzhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,204},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_wujizhenqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,116},{84,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xiuluoyinmie.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,117},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xuanfengzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,376},{82,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{82,81}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xukongfalidun.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,117},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_youlanaoyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,117},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhanshenchongzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,159},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhaohuanbaihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,383},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhuorehuoqiang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,93},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,383},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{270,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,113}}</string>
                <key>sourceSize</key>
                <string>{270,113}</string>
            </dict>
            <key>xunzhangtubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{194,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,207}}</string>
                <key>sourceSize</key>
                <string>{194,207}</string>
            </dict>
            <key>yaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,266},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>yaoganpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{146,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_img.png</string>
            <key>size</key>
            <string>{1005,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76916d0a5459ea63aa319fa38da18496:1/1$</string>
            <key>textureFileName</key>
            <string>ui_img.png</string>
        </dict>
    </dict>
</plist>
