<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenu_slot_button_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{583,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,148}}</string>
                <key>sourceSize</key>
                <string>{583,148}</string>
            </dict>
            <key>achievementsBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,782},{438,162}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,162}}</string>
                <key>sourceSize</key>
                <string>{440,180}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1162},{43,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{43,134}}</string>
                <key>sourceSize</key>
                <string>{59,148}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1224},{47,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{47,126}}</string>
                <key>sourceSize</key>
                <string>{55,136}</string>
            </dict>
            <key>asset_steam_Asset_Victory_Chain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1224},{45,158}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{45,158}}</string>
                <key>sourceSize</key>
                <string>{65,168}</string>
            </dict>
            <key>btn_shenlu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1628},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>btn_shenlu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1680},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>charname.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1306},{286,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,36}}</string>
                <key>sourceSize</key>
                <string>{286,36}</string>
            </dict>
            <key>cjtubiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{458,1757},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>defeat_screen_buttons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1558},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{122,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>defeat_screen_buttons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,917},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{238,238}}</string>
                <key>sourceSize</key>
                <string>{248,246}</string>
            </dict>
            <key>defeat_screen_buttons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1390},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{122,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>defeat_screen_buttons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,312},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{238,238}}</string>
                <key>sourceSize</key>
                <string>{248,246}</string>
            </dict>
            <key>gui_bottom_info_icon_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,628},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,37}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>hero_item_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1329},{40,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,119}}</string>
                <key>sourceSize</key>
                <string>{40,119}</string>
            </dict>
            <key>hero_list_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1390},{119,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,150}}</string>
                <key>sourceSize</key>
                <string>{119,150}</string>
            </dict>
            <key>hero_portraits_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1514},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>hero_sel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1329},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,108}}</string>
                <key>sourceSize</key>
                <string>{50,110}</string>
            </dict>
            <key>heroroom_powers_icons_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1680},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>heroroom_upgradeIcons_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1264},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>hud_buttons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,538},{106,104}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{106,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_767.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1794},{60,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>item_mohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1787},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,644},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>level_end_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{546,164}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{546,164}}</string>
                <key>sourceSize</key>
                <string>{550,180}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{522,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,117}}</string>
                <key>sourceSize</key>
                <string>{522,117}</string>
            </dict>
            <key>main_menues_bg_closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1198},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>main_menues_bg_closeButton_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,538},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>map_levelselect_playbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,782},{378,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,155}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>map_mainbuttons_heroes_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{198,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{198,198}}</string>
                <key>sourceSize</key>
                <string>{280,208}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1487},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1377},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1267},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1157},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1599},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1489},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1379},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1599},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1591},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1489},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1481},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1379},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>map_mainbuttons_heroes_PC_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1371},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>menu_options_common_button_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,782},{294,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{294,144}}</string>
                <key>sourceSize</key>
                <string>{298,148}</string>
            </dict>
            <key>menu_options_socialmedia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1542},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>notification_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{492,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,152}}</string>
                <key>sourceSize</key>
                <string>{492,152}</string>
            </dict>
            <key>notification_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{816,150}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{816,150}}</string>
                <key>sourceSize</key>
                <string>{828,166}</string>
            </dict>
            <key>notification_title_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,156}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{816,156}}</string>
                <key>sourceSize</key>
                <string>{828,166}</string>
            </dict>
            <key>option_menu_ingame_button_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,667},{248,244}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{248,244}}</string>
                <key>sourceSize</key>
                <string>{262,260}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1224},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1390},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1222},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>option_menu_ingame_button_music_sound_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,372},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>optionsUI_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1773},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>optionsUI_button_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1774},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>portraits_small_states_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,202},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{170,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>power_reinforcement_portrait_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1107},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>reinforcement_portrait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1016},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_cisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,740},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill-reduce_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,667},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_badaohuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1686},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_huimiehuoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,925},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_kuanglongzidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1013},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_linghunhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1680},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>skill_luolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1599},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shixueshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1709},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_shouhuzhiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1709},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_xukongfalidun.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1709},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_youlanaoyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1701},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>skill_zhanshenchongzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1670},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1558},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_icons_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,922},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>special_powers_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,831},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,552},{270,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,113}}</string>
                <key>sourceSize</key>
                <string>{270,113}</string>
            </dict>
            <key>towerselect_powers_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,831},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>towerselect_powers_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,740},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>ui_common_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1157},{170,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,220}}</string>
                <key>sourceSize</key>
                <string>{174,224}</string>
            </dict>
            <key>upgrades_buyBut_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{340,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{340,114}}</string>
                <key>sourceSize</key>
                <string>{344,120}</string>
            </dict>
            <key>xunzhangtubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{194,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,207}}</string>
                <key>sourceSize</key>
                <string>{194,207}</string>
            </dict>
            <key>yaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,618},{72,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>yaoganpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1078},{144,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_img.png</string>
            <key>size</key>
            <string>{1020,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:500afa5deafd7c4b628427be0a3c0883:1/1$</string>
            <key>textureFileName</key>
            <string>ui_img.png</string>
        </dict>
    </dict>
</plist>
